@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #e8e8e8;
}

/*----------------Landing Page----------------*/
/* */
.landing-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.title-section {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.title-name {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-weight: bold;
    font-size: 50px;
    color: #212121;
}

.btn-section {
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px 5px;
}

.btn-landing-page {
    padding: 0.8em 1.8em;
    border: 2px solid #003421;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #003421;
}

.btn-landing-page::before {
    content: '';
    width: 0;
    height: 500%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #003421;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.btn-landing-page:hover::before {
    width: 105%;
}

.btn-landing-page:hover {
    color: #fff;
}

.btn-landing-page:active {
    color: #003421;
}

/*----------------End Landing Page----------------*/

/*----------------Login Page----------------*/

.pane {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}


.login-form {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background: #e8e8e8;
    box-shadow: 13px 13px 26px #a2a2a2,
        -13px -13px 26px #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.form-title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
}

.form__field {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: linear-gradient(#141e30, #243b55);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(#141e30, #243b55);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 20px;
    color: #121413;
    font-weight: bold;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

.forgot-pass {
    width: 30%;
    font-style: italic;
    color: #9b9b9b;
}

.forgot-pass:hover {
    transition: .5s ease;
    color: #000;
}


.btn-login-form {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*----------------End Login Page----------------*/

/*----------------Forgot Pass----------------*/



.head {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 90vw;
    height: 90vh;
}

.head .title {
    font-family: 'Roboto', sans-serif;
    align-items: center;
    text-align: center;
}

.head .note {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;
    text-align: center;
    color: #000000;

}

.forgot-form .form-field {
    position: relative;
    margin: 20px 0;
}

.forgot-form .input-text {
    display: block;
    width: 100%;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-top: 0px none;
    border-left: 0px none;
    border-right: 0px none;
    line-height: 45px;
    background: transparent;
    outline: none;
    /* Note: backdrop-filter has minimal browser support */
}

.forgot-form .label {
    position: absolute;
    left: 10px;
    bottom: 40px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 600;

}

.forgot-pass-submit {
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    column-gap: 15px;
}

#btn_submit {
    padding: 0.8em 1.8em;
    border: 2px solid #003421;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #003421;
}

#btn_submit::before {
    content: '';
    width: 0;
    height: 500%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #003421;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

#btn_submit:hover::before {
    width: 105%;
}

#btn_submit:hover {
    color: #fff;
}

#btn_submit:active {
    color: #003421;
}


#btn_cancel {
    padding: 0.8em 1.8em;
    border: 2px solid #00613e;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #00613e;
}

#btn_cancel::before {
    content: '';
    width: 0;
    height: 500%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #00613e;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

#btn_cancel:hover::before {
    width: 105%;
}

#btn_cancel:hover {
    color: #fff;
}

#btn_cancel:active {
    color: #00613e;
}
/*----------------EndForgotPass----------------*/


/*----------------Sidebar----------------*/




/*----------------EndSidebar----------------*/